/**
 * @name selfie
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/Uj5mw9d.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0.45;
  --homeImage: url('https://i.imgur.com/1CGw1XK.png');
  --homeImageSize: cover;
  --themeColor1: #E1B573;
  --themeColor2: #FFC3BE;
  --customFont: Public Sans;
  --backgroundCode: rgb(0,0,0,0);
  --backgroundName: rgb(61,61,61,0.5);
}

/* Any custom CSS below here */


